<ion-header>
  <ion-toolbar>
    <ion-title>Authors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="authorsList.length > 0">
    <ion-item *ngFor="let a of authorsList" (click)="openDetails(a.Id)">
      <ion-thumbnail item-start>
        <img src="assets/imgs/profile-default.png">
      </ion-thumbnail>

      <h2>{{a.Name}}</h2>

      <p *ngIf="a.BooksCount > 0">Books: {{a.BooksCount}}</p>
      <p *ngIf="a.BooksCount < 1">No books</p>
    </ion-item>

    <scrolling (scroll)="loadAuthors()"></scrolling>
  </ion-list>

  <p *ngIf="authorsList.length < 1">
    No authors.
  </p>
</ion-content>
