<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Authors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-searchbar (ionInput)="search($event)"></ion-searchbar>

  <ion-list *ngIf="authorsList.length > 0">
    <ion-item *ngFor="let a of authorsList" (click)="openDetails(a.Id)">
      <ion-thumbnail item-start>
        <img src="assets/imgs/profile-default.png">
      </ion-thumbnail>

      <h2>{{a.Name}}</h2>

      <p *ngIf="a.BooksCount > 0">Books: {{a.BooksCount}}</p>
      <p *ngIf="a.BooksCount < 1">No books</p>
    </ion-item>

    <scrolling (scroll)="loadAuthors()"></scrolling>
  </ion-list>

  <p *ngIf="authorsList.length < 1">
    No authors.
  </p>

  <button color="positive" ion-button block icon-start (click)="openCreateForm()">
    <ion-icon name="create"></ion-icon>
    Add author
  </button>
</ion-content>